{% extends "layout.html" %}
{% block title %}
Course Analysis
{% endblock %}

<!-- -------------------------------------------------------------------- -->

{% block css %}

{% endblock %}

<!-- -------------------------------------------------------------------- -->

{% block content%}

<div class="container">
    <h1>Course Analysis Result</h1>
    <div class="col-sm-8 offset-sm-2 text-center">
        <img class="rounded w-100" src="/static/img/course_figure1.png"/>
        <br/>
        <p>{{explain1}}</p>
    </div>
    <hr/>
    <div class="col-sm-8 offset-sm-2 text-center">
        <img class="rounded w-100" src="/static/img/course_figure2.png"/>
        <br/>
        <p>{{explain2}}</p>
    </div>
    <hr/>
    <div class="col-sm-8 offset-sm-2 text-center">
        <img class="rounded w-100" src="/static/img/course_figure3.png"/>
        <br/>
        <p>{{explain3}}</p>
    </div>
    <hr/>
    <div class="col-sm-8 offset-sm-2 text-center">
        <img class="rounded w-100" src="/static/img/course_figure4.png"/>
        <br/>
        <p>{{explain4}}</p>
    </div>
    <hr/>
    <div class="col-sm-8 offset-sm-2 text-center">
        <img class="rounded w-100" src="/static/img/course_figure5.png"/>
        <br/>
        <p>{{explain5}}</p>
    </div>
    <hr/>
    <div class="col-sm-8 offset-sm-2 text-center">
        <img class="rounded w-100" src="/static/img/course_figure6.png"/>
        <br/>
        <p>{{explain6}}</p>
    </div>
</div>

{% endblock%}

<!-- -------------------------------------------------------------------- -->

{% block js %}

{% endblock %}