{% extends "layout.html" %}
{% block title %}
Instructor Analysis
{% endblock %}

<!-- -------------------------------------------------------------------- -->

{% block css %}

{% endblock %}

<!-- -------------------------------------------------------------------- -->

{% block content%}
<div class="container">
    <h1>Instructor Analysis Result</h1>
    <div class="col-sm-8 offset-sm-2 text-center">
        <img class="rounded w-100" src="/static/img/instructor_figure1.png" />
        <br/>
        <p>{{explain1}}</p>
    </div>

</div>
{% endblock%}

<!-- -------------------------------------------------------------------- -->

{% block js %}

{% endblock %}