{% extends "layout.html" %}
{% block title %}
Student Info
{% endblock %}

<!-- -------------------------------------------------------------------- -->

{% block css %}

{% endblock %}

<!-- -------------------------------------------------------------------- -->

{% block content%}
<div class="container">
    <!-- student code start -->
    {% if student %}
        id: {{ student.uid }}
        <br><br>
        username: {{ student.username }}
        <br><br>
        password: {{ student.password }}
        <br><br>
        email: {{ student.email }}
        <br><br>
    {% else %}
        <h3>Student not found!</h3>
    {% endif %}
    <!-- student code end -->
</div>
{% endblock%}

<!-- -------------------------------------------------------------------- -->

{% block js %}

{% endblock %}