{% extends "layout.html" %}
{% block title %}
Student Info
{% endblock %}

<!-- -------------------------------------------------------------------- -->

{% block css %}

{% endblock %}

<!-- -------------------------------------------------------------------- -->

{% block content%}
<div class="container">
    <!-- student code start -->

    <!-- student code end -->
</div>
{% endblock%}

<!-- -------------------------------------------------------------------- -->

{% block js %}

{% endblock %}